<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <mat-toolbar-row>
        
        <span><img src="assets/image001.jpg" alt=""></span>

      </mat-toolbar-row>

      <mat-toolbar-row>
        <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Comida favorita</mat-label>
          <input matInput placeholder="Ejemplo: Pizza" (keyup)="doSearch($event)">
        </mat-form-field>
      </mat-toolbar-row>

    </mat-toolbar>

    <app-list [results]="results"></app-list>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>